@page "/"
@inject NavigationManager navManager;
@inject ProtectedSessionStorage sessionStorage;
<PageTitle>Index</PageTitle>




@if(isAdminLoggedIn)
{
    <h1>Welcome to Admin Panel!</h1>

}


@code{
    [CascadingParameter]
    public EventCallback notify { get; set; }
    public bool isAdminLoggedIn = false;
    protected override async Task OnAfterRenderAsync(bool firstRender){

        if (firstRender)
        {
            await notify.InvokeAsync();
            var adminSession = await sessionStorage.GetAsync<string>("adminKey");
            if(adminSession.Success)
            {
                isAdminLoggedIn = true;
                StateHasChanged();
            }
            else
            {
                navManager.NavigateTo("/login");
            }
           
        }
    }
}